* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  color: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  overflow-x: hidden;
  font-family: "Malgun Gothic"; }

.article__title {
  font-size: 30px;
  color: #606060;
  text-align: center;
  margin-top: 110px; }

.input-container--radio {
  position: absolute;
  height: 50px;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.hidden-menu__nav {
  position: fixed;
  right: 0;
  width: 390px;
  height: 100%;
  z-index: 10;
  background: rgba(255, 82, 30, 0.6);
  color: #fff;
  text-align: center;
  padding-top: 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.hidden-menu__item {
  margin-bottom: 41px;
  font-size: 25px; }

.hidden-menu__button {
  position: fixed;
  z-index: 11;
  right: 0;
  top: 74px;
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 14px; }

.hidden-menu__button--active {
  display: none; }

.header {
  width: 1140px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 40px;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .header__item {
    margin-left: 30px; }

.visual {
  width: 1920px;
  height: 700px;
  position: relative;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .visual__slide {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 1; }
  .visual__content {
    width: 1000px;
    height: 150px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
    bottom: 160px;
    padding: 30px 20px 30px 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff; }
    .visual__content::before {
      content: "";
      display: inline-block;
      width: 5px;
      height: 100%;
      background: #ff521e;
      position: absolute;
      top: 0;
      left: 0; }
    .visual__content__title {
      font-size: 40px;
      font-weight: 900;
      font-family: "Segoe UI";
      color: #fff;
      font-style: italic;
      width: 260px;
      line-height: 34px;
      margin-bottom: 5px; }
    .visual__content__subtitle {
      opacity: .8; }

.article-welcom {
  text-align: center;
  height: 404px; }
  .article-welcom__text {
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 18px;
    color: #999999;
    margin-bottom: 30px; }
  .article-welcom-button {
    width: 298px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .article-welcom__button {
    width: 140px;
    height: 35px;
    line-height: 35px;
    position: relative;
    text-align: center;
    overflow: hidden; }
  .article-welcom__button:before {
    content: '';
    width: 136px;
    height: 31px;
    border: 2px solid #a1a1a1;
    position: absolute;
    left: 0; }
  .article-welcom__button:after {
    content: '';
    width: 13px;
    height: 13px;
    background: #f7941d;
    border: 3px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translateY(-10px) translateX(-10px) rotate(-45deg);
    transform: translateY(-10px) translateX(-10px) rotate(-45deg); }

.article-visual {
  height: 450px;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .article-visual:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 82, 30, 0.45); }
  .article-visual__back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .article-visual__list {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    -webkit-transform: translateY(106px);
    transform: translateY(106px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center; }
  .article-visual--color-white {
    color: #fff; }
  .article-visual__item {
    width: 100%;
    max-width: 150px;
    color: #fff; }
  .article-visual__imgbox {
    height: 150px;
    border: 5px solid #fff;
    border-radius: 100%;
    padding: 30px;
    margin-bottom: 40px; }
  .article-visual__number {
    font-size: 60px; }
  .article-visual__text {
    font-size: 20px; }

.article-testimonials {
  height: 641px;
  position: relative; }
  .article-testimonials__list {
    width: 100%;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    margin-top: 76px; }
  .article-testimonials__item {
    width: 262px; }
  .article-testimonials__imgbox {
    height: 200px;
    position: relative;
    margin-bottom: 22px; }
    .article-testimonials__imgbox:before {
      content: '';
      width: 50px;
      height: 50px;
      position: absolute;
      right: 0;
      bottom: 0;
      background: rgba(255, 82, 30, 0.8); }
    .article-testimonials__imgbox:after {
      content: '';
      width: 25px;
      height: 25px;
      position: absolute;
      right: 10px;
      bottom: 15px;
      background: url("../img/scale.png") no-repeat; }
  .article-testimonials__text {
    font-size: 18px;
    color: #999999;
    margin-bottom: 18px; }
  .article-testimonials__name {
    color: #333; }

.footer-head {
  width: 100%;
  height: 100px;
  background: #ff521e; }
  .footer-head__list {
    width: 100%;
    height: 100px;
    max-width: 1140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .footer-head__title {
    color: #fff;
    font-size: 30px; }
  .footer-head__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 693px; }
  .footer-head__Email {
    width: 400px;
    height: 50px;
    font-size: 25px;
    padding-left: 22px; }
  .footer-head__button {
    width: 276px;
    height: 50px;
    background: #656565;
    font-size: 25px;
    color: #fff; }

.footer-section {
  position: relative;
  height: 656px;
  overflow: hidden; }
  .footer-section:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 470px;
    top: 0;
    left: 0;
    background: rgba(255, 82, 30, 0.45);
    z-index: 2; }
  .footer-section__back {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.45;
    z-index: 1; }
  .footer-section__box {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: none;
    -ms-flex-align: none;
    align-items: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    z-index: 3;
    padding-top: 63px; }
  .footer-section__leftbox {
    width: 270px;
    color: #fff; }
  .footer-section__textbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: none;
    -ms-flex-pack: none;
    justify-content: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 50px; }
  .footer-section__text {
    margin-left: 20px;
    font-size: 20px; }
  .footer-section__input-form input::-webkit-input-placeholder {
    color: #fff; }
  .footer-section__input-form input::-moz-placeholder {
    color: #fff; }
  .footer-section__input-form input:-ms-input-placeholder {
    color: #fff; }
  .footer-section__input-form input::-ms-input-placeholder {
    color: #fff; }
  .footer-section__input-form input::placeholder {
    color: #fff; }
  .footer-section__input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 748px;
    height: 50px;
    margin-bottom: 20px; }
  .footer-section__input--back {
    background: rgba(255, 255, 255, 0.3);
    font-size: 25px;
    padding-left: 25px; }
  .footer-section__input {
    width: 360px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    font-size: 25px; }
  .footer-section__email {
    width: 100%;
    height: 50px;
    margin-bottom: 20px; }
  .footer-section__message {
    width: 100%;
    height: 122px;
    margin-bottom: 20px;
    padding-bottom: 50px; }
  .footer-section__button {
    width: 100%;
    height: 50px;
    background: #656565;
    color: #fff;
    font-size: 25px; }
  .footer-section__bottom {
    position: absolute;
    width: 100%;
    height: 186px;
    bottom: 0;
    text-align: center;
    line-height: 186px;
    color: #fff;
    font-size: 20px;
    z-index: 5;
    background: rgba(0, 0, 0, 0.8); }
