@charset "UTF-8";

$color: #ff521e;
$dark: #5a5a5a;
$darkLight: #999999;
$titlecolor: #606060;
$white : #fff;
$segoe: "Segoe UI";

@mixin flex ($justify:space-between, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}